<div class="container-fluid" style="overflow-x:auto;border: 1px solid rgb(197, 196, 196);">
    <table class="table table-bordered">
        <thead>
          <tr style="background-color:rgb(197, 196, 196)">
            <th scope="col" rowspan="2">#</th>
            <th scope="col" rowspan="2">Part Scope</th>
            <th scope="col" rowspan="2">Platform</th>
            <th scope="col" rowspan="2">Project Code</th>
            <th scope="col" rowspan="2">Commodity</th>
            <th scope="col" rowspan="2">Part Number</th>
            <th scope="col" rowspan="2">Part Name</th>
            <th scope="col" rowspan="2">Part Image</th>
            <th scope="col" rowspan="2">Part Revision</th>
            <th colspan="5" class="text-center">Variant</th>
            <th scope="col" rowspan="2">Stage</th>
            <th scope="col" rowspan="2">Colour</th>
            <th scope="col" rowspan="2">Grain</th>
            <th scope="col" rowspan="2">Gloss</th>
            <th scope="col" rowspan="2">Digital Validation Status</th>
            <th scope="col" rowspan="2">Grain Go Ahead Validation details</th>
            <th scope="col" rowspan="2">Post Graining Validation Deatils</th>
            <th scope="col" rowspan="2">Overall Parts Status</th>
          </tr>
          <tr style="background-color:rgb(197, 196, 196)">
            <th scope="col">Low</th>
            <th scope="col">Mid</th>
            <th scope="col">High</th>
            <th scope="col">High(o)</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
</div>
