<div class="container-fluid">
    <div class="row text-white py-2" style="background-color:black">
        <div class="col-lg-2">
            logo
        </div>
        <div class="col-lg-8 text-center">
            <h5>Apperence Approval Report</h5>
        </div>
        <div class="col-lg-2">
            <div style="color:red"><b>Design Quality</b><span style="color:red" class="mx-4"><i class="fa-sharp fa-solid fa-house"></i></span> 
                <span style="color:red" class=""><i class="fa-solid fa-bell"></i></span></div> 
        </div>  
    </div>
</div>
<app-menu></app-menu>