<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-lg-6">
            <h5 class="float-start" style="color:red"><b>General Details</b>(<small>To be filled by Design</small>)</h5>
        </div>
        <div class="col-lg-6">
            <h5 class="float-end" style="color:black">Current Stage :Design</h5>
        </div>
    </div>
    <div class="mt-4 col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="row borderRadius">
                    <div class="col-lg-6">
                        <span>Sector <span class="sup">*</span><span></span></span>
                    </div>
                    <div class="col-lg-6 veticalLine">
                        <select class="form-select">
                            <option value="">--Select--</option>
                            <option>gdffghh</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row borderRadius">
                    <div class="col-lg-6">
                        <span>Platform <span class="sup">*</span><span></span></span>
                    </div>
                    <div class="col-lg-6 veticalLine">
                        <select class="form-select">
                            <option value="">--Select--</option>
                            <option>gdffghh</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row borderRadius">
                    <div class="col-lg-6">
                        <span>Project Code <span class="sup">*</span><span></span></span>
                    </div>
                    <div class="col-lg-6 veticalLine">
                        <select class="form-select selectpicker">
                            <option value="">--Select--</option>
                            <option>gdffghh</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="row borderRadius">
                    <div class="col-lg-6">
                        <span>Variant <span class="sup">*</span><span></span></span>
                    </div>
                    <div class="col-lg-6 veticalLine">
                        <select class="form-select">
                            <option value="">--Select--</option>
                            <option>gdffghh</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row borderRadius">
                    <div class="col-lg-6">
                        <span>Stage <span class="sup">*</span><span></span></span>
                    </div>
                    <div class="col-lg-6 veticalLine">
                        <select class="form-select">
                            <option value="">--Select--</option>
                            <option>gdffghh</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row borderRadius">
                    <div class="col-lg-6">
                        <span>Commodity <span class="sup">*</span><span></span></span>
                    </div>
                    <div class="col-lg-6 veticalLine">
                        <select class="form-select">
                            <option value="">--Select--</option>
                            <option>gdffghh</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5" style="text-align:center">
        <button class="btn blackBtn mx-3">Save</button>
        <button class="btn blackBtn">Publish</button>
        <button class="btn blackBtn mx-3">Part Status</button>
    </div>
</div>