select {
    border: 0px;
    outline: 0px;
    box-shadow: none;
}
.inputBorderHide {
    border: 0px;
    outline: 0px;
    box-shadow: none;
}
.borderRed{
    border:solid 2px red;
}
.req{
    color:red;
}
.nav{
    float:inline-end
}